:root {
    --hue: 162;
    --first-color: #00AEFF;
    --first-color-alt: #00a2ff;
    --title-color: hsl(228, 8%, 95%);
    --text-color: hsl(228, 8%, 65%);
    --body-color: hsl(228, 15%, 20%);
    --container-color: hsl(228, 15%, 15%);

    --body-font: "Poppins", sans-serif;
}

body {
    background-color: var(--body-color);
    color: #fff;
    font-family: var(--body-font);
}

.text-color-primary {
    color: var(--first-color);
}

.text-body {
    color: var(--text-color)
}

.title-color {
    color: var(--title-color);
}

.bg-primary {
    background-color: var(--first-color);
}
